/* this document houses homepage-specific styling*/

/* class definitions*/

.tile {
    border-radius: .75rem/.75rem;
    border: .05rem solid #d2d2d2;
    background-color: rgb(255, 255, 255);
}
.sb-mar-hom {
    margin-top: 5rem;
}
.logo-linked {
    background-image: url("/static/images/logo-linked.svg");
    background-size: 100%; 
    background-repeat: no;
    margin: 0rem;
    height: 1.5rem;
    width: 1.5rem;
    transition: all 500ms;
}
.logo-linked:hover {
    background-image: url("/static/images/logo-linked.png");
    background-size: 100%;
    background-repeat: no;
    margin: 0rem;
    height: 1.5rem;
    width: 1.5rem;
}

/* id definitions*/

#avatar {
    background-image: url("/static/images/best - crop.jpg");
    background-size: 100%;
    background-repeat: no;
    border-radius: 50%;
    border: .075rem solid #0067e5;
    height: 15rem;
    width: 15rem;
}
#bike {
    background-image: url("/static/images/bike.jpg");
    background-size: 100%;
    background-repeat: no;
    border-radius: 5%;
    height: 18rem;
    width: 18rem;
}