/* this document houses homepage-specific styling*/

/* class definitions*/
.sb-mar-hom {
    margin-top: 15%;
    margin-bottom: 7.5%;
}


/* id definitions*/
#avatar {
    width: 45%;
    height: auto;
    border-radius: 50%;
    border: .1rem solid #007A33;
}
#card-top {
    font-size: 1.65rem;
}
#card-body {
    font-size: 1rem;
}


#scrollPic {
    width: 4vw;
    height: auto;
}



#logo-linked {
    margin: 0rem;
    height: 1.75rem;
    width: 1.75rem;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/static/images/logo-linked.svg");
    background-size: 85%;
    transition: all 500ms;
}
#logo-linked:hover {
    background-image: url("/static/images/logo-linked.png");
    background-size: 100%;
}


#bike {
    width: 50%;
    height: auto;
    border-radius: 5%;
}