#config {
    background-image: url("/static/images/conf.jpg");
    background-size: 31rem;
    background-repeat: no;
    border-radius: .5rem;
    margin: 0;
    margin-left: 2rem;
    height: 27rem;
    width: 31rem;
}