@media screen and (max-width: 950px){
    .font-shrink {
        font-size: 1rem;
    }
}
@media screen and (min-width: 950px){
    .sb-res {
        text-align: center;
    }
}
.resume-mar {
    margin-top: 5vh;
}