/* this document houses resume-specific css styling*/

/* class definitions*/
.alignleft {
	float: left;
}
.alignright {
	float: right;
}


/* id definitions*/
#vert-align {
    vertical-align: top;
}