{% extends 'skeleton.html' %}

{% block title %}
   Big-O Notation
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/micro.css">
{% endblock %}

{% block content %}
    <div class="tile">
        <h1>
            Big-O Notation
        </h1>
            <p>
                Big O notation refers to the behavior of a function in response to an
                increasing input. It is less important for small inputs but tends to 
                matter more and more for larger inputvalues. 
            </p>
    </div>
{% endblock %}