{% extends 'index.html' %}

{% block title %}
   Homepage
{% endblock %}

{% block head %}
   <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block content %}

   <!--welcome-->
   <div class="sb-mar-hom tmid">
      <div class="sb-two ymid tleft">
         <h1>
            Welcome
         </h1>
         <p>
            Thank you for visiting my website. I am a recent graduate from the University of New Hampshire with a degree in mechanical engineering. I developed this
            site to advertise my career interests&#8212;especially those not native to mechanical engineering.
         </p>
         <p>
            Start here and with the resume page for an overview of personal projects and experience. The remaining pages serve as background underlying the most
            personally-interesting topics. <i><b>Please connect via
            <a href="https://linkedin.com/in/david-luby/" class="inline" target="_blank" rel="noopener noreferrer"> LinkedIn</a>
            or email with any interest in discussing content in further depth.</b></i>
         </p>
      </div>
      <!--avatar-->
      <div class="sb-two ymid">
         <div>
            <img src="/static/images/best - crop.jpg" id ="avatar">
         </div>
         <div>
            <h2 class="mar-strip" id="card-top">
               <b>David Luby</b>
            </h2>
            <p class="card-body mar-strip pad-strip">
               davidluby273@gmail.com | Boston Area
            </p>
            <p class="mar-strip pad-strip" id="card-body">
               BS, Mechanical Engineering, University of New Hampshire
            </p>
               <a href="https://linkedin.com/in/david-luby/" class="d-inline-block align-middle card-body" id="logo-linked" target="_blank" rel="noopener noreferrer"></a>
               <a href="https://github.com/davidluby" class="d-inline-block align-middle card-body" id="logo-github" target="_blank" rel="noopener noreferrer"></a>
            </p>            
         </div>
      </div>
   </div>



   <!--flask-->
   <div class="sb-mar-hom tmid">
      <div class="sb-two ymid tleft">
         <h1>
            Python-Flask Web Portfolio
         </h1>
         <p>
            This website is served via AWS Elastic Beanstalk using a version-controlled CodePipeline facilitated by Git/GitHub. It synthesizes
            Javascript, SQL, HTML, and CSS over a Python-Flask web framework. All the source code is available on
            <a href="https://github.com/davidluby/website" class="inline" target="_blank" rel="noopener noreferrer"> GitHub</a> 
            (check out the other repositories).
         </p>
      </div>
      <div class="sb-two ymid">
         <h2>
            Celtics Standings and Power Rankings
         </h2>
         <p>
            Tables go here
         </p>
      </div>
   </div>




   <!--bike-->
   <div class="sb-mar-hom tmid">
      <div class="sb-two ymid tleft">
         <h1>
            Motorized Bicycle
         </h1>
         <p>
            The best aspect of this project was that it did not end until I
            sold the bike. It turns out that adding a four-stroke engine to
            the frame of a cheap bicycle tends to create more problems than it
            solves, requiring constant maintenance in response to vibrations
            never meant for a pedal bike. Experiential improvement by
            iteration helped unveil complex systems as large sums of simple
            solutions.
         </p>
      </div>
      <div class="sb-two ymid tmid">
         <div>
            <img src="/static/images/bike.jpg"id ="bike">
         </div>
      </div>
   </div>

{% endblock %}