{% extends 'skeleton.html' %}

{% block title %}
   Homepage
{% endblock %}

{% block head %}
   <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block content %}

<!--welcome-->
   <div 
      class="sb-parent sb-mar-hom container-fluid">
      <div
         class="sb-two tile" align="left">
         <h1>
            Welcome
         </h1>
         <p>
            Thank you for visiting my website. I am a recent graduate from the University of New Hampshire with a degree in mechanical engineering. I created this website
            to demonstrate my career interests&#8212;especially those not implied by my undergrad.
         </p>
         <p>
            Start here and with my resume page for an overview of my experiences and projects. <i><b>Please reach out to me via
            <a
               href="https://linkedin.com/in/david-luby/"
               class="inline"
               target="_blank"
               rel="noopener noreferrer">
                  LinkedIn</a>
            or email if you are interested in hearing more from me.</b></i>
         </p>
      </div>

      <div
         class="sb-two tile">
         <div>
            <img src="/static/images/best - crop.jpg" id ="avatar">
         </div>
         <div>
            <h2 class="card-top mar-strip">
               <b><i>David Luby</i></b>
            </h2>
            <p class="card-body mar-strip pad-strip">
               <a href="https://linkedin.com/in/david-luby/" class="d-inline-block align-middle logo-linked" target="_blank" rel="noopener noreferrer"></a>
               | <i>davidluby273@gmail.com</i> | <i>Boston Area</i>
            </p>
            <p class="card-body mar-strip pad-strip">
               <i>BS, Mechanical Engineering, University of New Hampshire</i>
            </p>
         </div>
      </div>
   </div>

<!--flask-->
   <div 
      class="sb-parent sb-mar-hom container-fluid">
      <div 
         class="sb-two tile" align="left">
         <h1>
            Python-Flask Website Portfolio
         </h1>
         <p>
            This is a web development project served via AWS Elastic Beanstalk using a CodePipeline with Git/GitHub. I learned Javascript, SQL, HTML, and CSS, integrating each of them with
            a Python-Flask web framework. All of the source code is on my <a href="https://github.com/davidluby/website" class="inline" target="_blank" rel="noopener noreferrer"> GitHub</a> 
            (check out my other repositories).
         </p>
      </div>
      <div
         class="sb-two tile" align="center">
         <h2>
            Visitor Count:
         </h2>
         <p>
            count goes here
         </p>
      </div>
   </div>

<!--bike-->
   <div
      class="sb-parent sb-mar-hom container-fluid">
      <div
         class="sb-two tile">
         <div>
            <img src="/static/images/bike.jpg"
               id ="bike">
         </div>
      </div>
      <div 
         class="sb-two tile" align="left">
         <h1>
            Motorized Bicycle
         </h1>
         <p>
            The best aspect of this project was that it did not end until I
            sold the bike. It turns out that adding a four-stroke engine to
            the frame of a cheap bicycle tends to create more problems than it
            solves, requiring constant maintenance in response to vibrations
            never meant for a pedal bike. Experiential improvement by
            iteration helped unveil complex systems as large sums of simple
            solutions.
         </p>
      </div>
   </div>

{% endblock %}